[submodule "submodules/tauri-app"]
	path = submodules/tauri-app
	url = https://github.com/yurikrupnik/tauri-app.git
[submodule "submodules/sdp-demo"]
	path = submodules/sdp-demo
	url = https://github.com/yurikrupnik/sdp-demo
[submodule "submodules/go-commands"]
	path = submodules/go-commands
	url = https://github.com/yurikrupnik/go-commands
[submodule "submodules/first-rust-app"]
	path = submodules/first-rust-app
	url = https://github.com/yurikrupnik/first-rust-app
